.icon2 {
  background-color: #e8f0fe;
  padding: 20px;
  border-radius: 5px;
}
.buttons {
  button {
    display: flex;
    border: 1px solid #008cff;
    color: #008cff;
    padding: 8px 6px;
    font-weight: 600;
    border-radius: 4px;
    transition: all 400ms ease-in;
  }
  button:hover {
    background-color: #008cff;
    border: 1px solid transparent;
    color: white;
  }
}
